/* 部分bootstrap style start */
/* btn start */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ed9c28;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
/* btn end */
.form-control {
/*   display: block; */
/*   width: 100%; */
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}
/* bootstrap style end */
/* ================================================================== */

/* tools start */
.item{
  margin-bottom: 10px;
  background: white;
  overflow: hidden;
  border: 2px solid #fff;
}
.item:hover{
  border: 2px solid #ddd;
  z-index: 10;
}
.line{
  height: 2px;
  width: 100%;
  overflow: hidden;
}
.ml0{ 
  margin-left: 0!important;
}
.ml50{ 
  margin-left: 50!important;
}
.pl50 {
  padding-left: 50px;
  *padding-left: 0;
}
.p20{
  padding: 20px;
}
.box {
  border: 5px solid #fff;
  -webkit-box-shadow: inset 0 0 25px hsla(0,0%,0%,.1),0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-bottom-right-radius: 36px 12px;
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-border-bottom-right-radius: 36px 12px;
}
/* tools end */
/* =================================================================== */

/* global */
a:hover {
  color: #f69;
}
body{
  background: white;
  color: #666;
  font-size: 12px;
  *text-align: center;
}
header{
  background: #f79f57;
  background: -webkit-gradient(linear,29% 3%, 61% 64%, from(#FFB22E), to(#FFB13D), color-stop(0.6,#F7E436));
}
/* top_info_bar */
.i_sina, .g_sina, .i_ren, .g_ren, .i_tx, .i_qzone, .g_qzone, .i_dban, .i_renren, .i_QQ, .i_baidu, .i_wangyi, .i_taobao, .i_house, .i_comm, .i_mail, .i_notice, .i_mob, .i_cart, .i_order, .i_search, .b_cart, .b_msg {
  background: url("http://i.meilishuo.net/css/images/header/mls_global140607.png") no-repeat;
  padding: 1px 8px;
}
.uinfo_bar {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 38px;
}
.header_top {
  margin-left: 600px;
  margin-right: auto;
  width: 648px;
  padding-left: 6px;
  padding-right: 6px;
}
.menu_leo {
  height: 40px;
  margin-top: 8px;
}
.menu_leo li { /* 原为>选择器 低版本ie不支持 */
  height: 38px;
  position: relative;
  z-index: 500;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  text-align: left;
}
.menu_leo li a.first {
  border: 0;
}
.menu_leo>li>a {
  border-left: 1px dotted #ccc;
  height: 18px;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
  color:#666;
  font-size: 12px;
}
.i_sina {
  background-position: 0 -21px;
}
.i_QQ {
  background-position: -185px -21px;
}
.menu_leo .i_member {
  background: url("http://i.meilishuo.net/css/images/header/int_icon.png") no-repeat;
  width: 13px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 4px;
  font-style: normal;
}
.i_mob {
  background-position: -170px -45px;
}
.menu_leo>li a.last {
  padding-right: 0;
}
/* /.top_info_bar */

.h_headerbottom{height: 70px;} /* logo等通高 */
#logo{
  width: 25%;
}
#search{
  width: 50%;
}
#info{
  width: 24%;
}
.form-control{
  height: 40px;
}
#global_search .btn {
  height: 40px;
}
#global_search_input{
  border: 5px solid #f40;
}
.bgf40{
  background-color: #f40;
}

/*  navbar */    
#navbar {
  position: relative;
  top: 0;
  height: 40px;
  line-height: 40px;
  left: 0px;
  width: 100%;
  z-index:99999;
}
.wheader {
  height: 40px;
  line-height: 40px;
  background-color: #ff6599;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width:100%;
}

.wheader .header_b {
  height: 40px;
  width: 948px;
  margin-left: auto;
  margin-right: auto;
}

.nav_new {
  width: 948px;
  margin-left: auto;
  margin-right: auto;
}
.nav_new li {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  *height: 20px; /* 兼容低版本ie导航条高度 */
  *line-height: 20px;
  float: left;
  position: relative;
  *top:10px;
  z-index: 450;
}
.nav_new li a {
  color: #fff;
  float: left;
  padding-left: 14px;
  padding-right: 14px;
}
.nav_new li a:hover {
  color: #fff;
  background-color: #ed3577;
}
.nav_new li .r_d {
  background-color: #ed3577;
}
/* /.navbar */

.h_maintop{/* height: 520px; */} /* 块状导航等通高 */
#classes_nav{
  width: 20.0%;
}
/* 块状导航 start*/
#nav{max-width:230px;*width:230px;position:relative;background:white;z-index:9999;box-shadow:4px 2px 15px rgba(0, 0, 0, 0.3);}
#nav .mod_cate_hd{height:40px;line-height:40px;font-size:16px;color:#FFFFFF;text-indent:7px;box-shadow:2px -1px 3px rgba(55,55,55,0.5);background-color:#4593FD;border-bottom:1px #3487F2 solid;font-family:"Microsoft Yahei";}
#nav .mod_cate,#nav .mod_cate2{height:110px;*height:78px;padding:9px 10px 10px 35px;*padding:35px 10px 10px 35px;}
#nav .mod_cate h2,#nav .mod_cate2 h2{font-size:14px;font-weight:normal;font-family:"Microsoft Yahei";}
#nav .mod_cate h2 a,#nav .mod_cate2 h2 a{color:black;padding-right:5px;*margin:15px 0 5px 20px;}/* 手机数码 */
#nav .mod_cate a.hot_sub{background:#106AC0;font-size:12px;border-radius:9px;padding:0px 5px;margin-left:5px;color:white;}/* 合约机 */
#nav .mod_cate_r{line-height:24px;font-style:normal;font-variant:normal;*padding-left:20px;}
#nav .mod_cate_r a{font-size:12px;color:black;padding-right:5px;}
#nav .mod_cate2{margin-left:20px;background:none;}
#nav .mod_cate2 a.yel{color:#fee602;}
#nav .mod_subcate{display:none;width:448px;/* 导航面板 */height:340px;border:2px #4594fd solid;background:#FFFFFF;box-shadow:5px 5px 10px rgba(0, 0, 0, 0.4);position:relative;top:-96px;*top:-112px;z-index:99999;left:190px;/* 隐藏面板的offset left */overflow:hidden;}
#nav .mod_subcate_main{position:relative;z-index:999;top:-40px;*top:20px;width:530px;padding:0px 20px 1000px 20px;margin-bottom:-1000px;border-right:1px #ddd solid;float:left;}
#nav .mod_subcate_line{width:100%;height:1px;clear:both;font-size:0px;margin-bottom:5px;border-top:5px #fff solid;border-bottom:1px #dadada dotted;overflow:hidden;display:block;}
#nav .arrow_dot { width:0px;height:0px;overflow:hidden;font-size:0px;margin:9px 0 0 5px;border:4px transparent dashed;border-left:4px #0074d9 solid;}
#nav .mod_subcate_side{width:217px;padding-top:5px;padding-left:10px;padding-bottom:1000px;margin-bottom:-1000px;float:left;}

#nav .on{padding:8px 10px 49px 8px;*padding:28px 5px 10px 0;border-top:2px #5AA1FE solid;border-bottom:2px #3487F2 solid;padding-left:40px;background:#FFFFFF;}
#nav .on h2 a{color:#333333;}
#nav .on .mod_subcate{display:block !important;/* !important 强制显示，否则会闪烁*/ }
#nav .on .mod_cate_r a{color:#666666;}
#nav .on a.hot_sub{color:#FFFFFF;}
/* 块状导航 end */
#ads {
  width: 63.3%;
}
/* 轮播样式开始 */
.main_visual{height:422px;overflow:hidden;position:relative;left:-5px;}
.main_image{height:422px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;height:422px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:422px;}
.main_image li span{display:block;width:100%;height:422px}
.main_image li a{display:block;width:100%;height:422px}
.main_image li .img_1{background:url('../img/img_main_1.png') center top no-repeat;}
.main_image li .img_2{background:url('../img/img_main_5.png') center top no-repeat}
.main_image li .img_3{background:url('../img/img_main_3.png') center top no-repeat}
.main_image li .img_4{background:url('../img/img_main_4.png') center top no-repeat}
.main_image li .img_5{background:url('../img/img_main_5.png') center top no-repeat}
div.flicking_con{position:absolute;top:360px;left:50%;z-index:1;width:300px;height:21px;margin:0 0 0 -50px;}
div.flicking_con a{float:left;width:21px;height:21px;margin:0;padding:0;background:url('../img/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}
#btn_prev,#btn_next{z-index:1;position:absolute;display:block;width:73px!important;height:74px!important;top:50%;margin-top:-37px;display:none;}
#btn_prev{background:url(../img/hover_left.png) no-repeat left top;left:0;}
#btn_next{background:url(../img/hover_right.png) no-repeat right top;right:0;}
/* /.轮播样式 */
.adblocks{
  padding-left: 20px;
}
.adblocks li {
  width:24%;
  padding-left: 5px;
  height: 125px;
}
#topics{
  width: 16.7%;
}
#topics li {height:130px;}

/* 栏目 */
.container1200 .wel_tle { /* 栏目标题 */
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px; 
  overflow: hidden;
  height: 32px;
  margin-top: 20px;
}
.ico1 {
  background-position: 0 -1px;
  width: 158px;
}
.ico1, .ico2, .ico3, .ico4, .ico5, .ico6, .ico7 {
  background: url("http://i.meilishuo.net/css/images/welcome/wel_ico1.png") no-repeat;
  float: left;
  height: 26px;
}
.container1200 .list_ul,
.container1200 .tuan_sku {
  padding-top: 15px;
  overflow: hidden;
}
.container1200 .list_ul li,
.container1200 .tuan_sku li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-right: 24px;
  width: 172px;
}
.container1200 .list_ul li .s_picBox,
.container1200 .tuan_sku li .s_picBox {
  height: 255px;
  width: 180px;
  display: block;
  overflow: hidden;
}
.container1200 .list_ul li .s_picBox .s_pic,
.container1200 .tuan_sku li .s_picBox .s_pic {
  height: 255px;
  width: 180px;
  display: block;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.container1200 .list_ul li .txt,
.container1200 .tuan_sku li .txt {
  display: block;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  margin: 6px 0 5px;
  width: 100%;
  color: #666;
  font-size: 12px;
}
.container1200 .list_ul li .price_box,
.container1200 .tuan_sku li .price_box {
  border-bottom: 1px dotted #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.container1200 .list_ul li .price, .auto_wrap .tuan_sku li .price {
color: #999;
text-decoration: line-through;
padding-left: 5px;
}
/* /.栏目 */
#footer {
  background-color: #aaaaaa;
}
#footer ul li{
  float: left;
}

/* hack start*/
*html,*html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}
.ie6 .wpct50{width:49%;}
.ie6 .container1200{text-align: justify;}
.ie6 .form-control,
.ie7 .form-control{
  padding:0;
  height:30px;
}
.ie6 .btn{border:0;}
.ie6 #ads{width: 780px!important;} /* 中间轮播与广告位 */
.ie6 .adblocks {margin-left: 50px;}
.ie6 .adblocks .item,
.ie7 .adblocks .item {width:165px;}
.ie6 #topics{width: 190px!important;} /* 专题 */
.ie6 #navbar{height:38px;/* overflow: hidden; */} /*导航条高度*/
.ie7 #nav{position: relative;top:10px;}
/* hack end */

.ajax_loading {
  background:#c1c39a;
  color:#303030;
  font-size:20px;
  padding:5px 10px;
  text-align:center;
  width:450px;
  margin:0px auto;
  display:none;
  border-radius: 5px;
}

/* media query start */ 
@media all and (max-width:1200px) {
  .container1200{max-width: 1004px!important;}
  #nav .mod_subcate{
    left:210px!important;
  }
  .fl,.fr{float:none;}
}
@media all and (max-width:960px) {
  .h_headerbottom{height:  90px;} /* logo等通高 */
  /* 调整小屏幕导航及吃货社区 */
  #nav_ul{
    max-width: 500px;
  }
}
@media all and (max-width:768px) {
  body{
    padding-left: 5px;
    padding-right: 5px;
  }
  #global_search{
    max-width:300px!important;
    margin-left: 25%;
  }
}
@media all and (max-width:508px) {
  #global_search{
    max-width:180px!important;
    margin-left: 25%;
  }
}
/* media query end */ 