@charset "UTF-8";
/* 201409222222 */
/* ========================== 部分改写的bootstrap style start ================================== */
/* btn start */
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn:focus {
  /*
  why has these set??? very bad...
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  */
}
.btn:hover,
.btn:focus {
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn-warning {
  color: #fff;
  background-color: #f40;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #f40;
  border-color: #d58512;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.btn-block + .btn-block {
  margin-top: 5px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
/* btn end */
.form-control {
  display: inline!important;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border-radius: 4px;
/*   
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
*/
}
.form-control:focus { /* 不要focus光晕 */
  border-color: #66afe9;
  outline: 0;
/*   
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6); */
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.form-control:-moz-placeholder {
  color: #999999;
}
.form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999999;
}
.form-control::-webkit-input-placeholder {
  color: #999999;
}

/* 兼容的面包历史 */
.breadcrumb {
  padding:8px 15px;
  margin-bottom:20px;
  list-style:none;
  background-color:#f5f5f5;
  border-radius:4px;
}
.breadcrumb li {
  display:inline-block;
  *display: inline;
  *border-right: 1px solid #aaa;
  *margin-left:10px;
  *padding-right: 4px;
}
.breadcrumb>li+li:before {
  padding:0 5px;
  color:#ccc;
  content:"/\00a0";
}
.breadcrumb>.active {
  color:#777;
}

/* 分页 */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #428bca;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #2a6496;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #428bca;
  border-color: #428bca;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}    
/* bootstrap style end */
/* ======================================================================================== */

/* ===================================== tools start ====================================== */
:-webkit-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
}
:-moz-full-screen {
  background-color: #fff;
}
.icon {
  display: inline-block;
}
.icon-full-screen {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(http://s.imchuke.com/static/img/iconfont-quanping.png) no-repeat center;
}
.icon-exit-full-screen {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(http://s.imchuke.com/static/img/iconfont-tuichuquanping.png) no-repeat center;
}
.icon-hot { /* 近期热门 */
  display: inline-block;
  width: 36px;
  height: 42px;
  background: url(http://s.imchuke.com/static/img/icon-footer-all.png) no-repeat center;
  background-position: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-new { /* 今日新品 */
  display: inline-block;
  width: 36px;
  height: 42px;
  background: url(http://s.imchuke.com/static/img/icon-footer-all.png) no-repeat center;
  background-position: 0 -43px;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-rcmd { /* 小编力荐 */
  display: inline-block;
  width: 36px;
  height: 42px;
  background: url(http://s.imchuke.com/static/img/icon-footer-all.png) no-repeat center;
  background-position: 0 -87px;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-xsby { /* 限时包邮 */
  display: inline-block;
  width: 36px;
  height: 42px;
  background: url(http://s.imchuke.com/static/img/icon-footer-all.png) no-repeat center;
  background-position: 0 -129px;
  position: absolute;
  top: 0;
  left: 0;
}
.icon-by { /* 包邮 */
  display: inline-block;
  width: 36px;
  height: 42px;
  background: url(http://s.imchuke.com/static/img/icon-footer-all.png) no-repeat center;
  background-position: 0 -172px;
  position: absolute;
  top: 0;
  left: 0;
}
.item{
  margin-bottom: 10px;
  background: white;
  overflow: hidden;
  border: 1px solid #fff;
}
.item:hover { /* 描边类 */
  -webkit-box-shadow: 
              0 0 25px hsla(0,0%,0%,.1),
              0px 0px 3px rgba(0, 0, 0, 0.4),
              inset 0px -3px 0px 0px #f40;
  box-shadow: 0 0 25px hsla(0,0%,0%,.1),
              0px 0px 3px rgba(0, 0, 0, 0.4),
              inset 0px -3px 0px 0px #f40;
  border-bottom: 1px solid #f40!important;
}
.my-like { /* 收藏浮标 */
  display: none;
  width: 26px;
  height: 25px;
  border: 1px solid #e2e2e2;
  background: #fff;
  border-radius: 2px;
  position: absolute;
  top: 6px;
  right:4px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 25px hsla(0,0%,0%,.1),0px 0px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 25px hsla(0,0%,0%,.1),0px 0px 3px rgba(0, 0, 0, 0.4);
}

.icon-no-shoucang {
  background: url(http://s.imchuke.com/static/img/iconfont-shoucang.png) no-repeat center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.icon-has-shoucang {
  background: url(http://s.imchuke.com/static/img/iconfont-red-heart.png) no-repeat center;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.goods-list-wrapper li:hover { /* for children position */
  position: relative;
}
.goods-list-wrapper li:hover .my-like { /* no-js, hover show */
  display: block;
}
.hover-show {
  display: none;
}
.item:hover .hover-show { /* no-js hover show common tool class */
  display: block;
}
.mt4 {
  margin-top: 4px;
}
.ml0{ 
  margin-left: 0!important;
}
.ml50{ 
  margin-left: 50!important;
}
.pl50 {
  padding-left: 50px;
  *padding-left: 0;
}
.p20{
  padding: 20px;
}
.bgf40{
  background-color: #f40;
}
.hot_red {
  color: #f69!important;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.xx-box { /* shadow类 */
  border: 5px solid #fff;
  -webkit-box-shadow: inset 0 0 25px hsla(0,0%,0%,.1),0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-border-bottom-right-radius: 36px 12px;
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -moz-border-bottom-right-radius: 36px 12px;
}
/* tools end */
/* ======================================================================================= */

/* global Layout*/
.g-main-color { /* !!!全局主色 亮橘 */
  background-color: #f40;
}
a:hover, a:focus {
  color: #f40;
  text-decoration: none;
}
body {
  background-color: white;
  font-family: Arial;
  color: #666;
  font-size: 12px;
  _text-align: center;
  *overflow-y: hidden;
}
header{
  background-color: #fff!important;
}
/* top_info_bar */
.i_sina, .g_sina, .i_ren, .g_ren, .i_tx, .i_qzone, .g_qzone, .i_dban, .i_renren, .i_QQ, .i_baidu, .i_wangyi, .i_taobao, .i_house, .i_comm, .i_mail, .i_notice, .i_mob, .i_cart, .i_order, .i_search, .b_cart, .b_msg {
  background: url("http://i.meilishuo.net/css/images/header/mls_global140607.png") no-repeat;
  padding: 1px 8px;
}
.uinfo_bar {
  background-color: #f5f5f5;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 38px;
  overflow: hidden;
}
.header_top {
  padding-left: 6px;
  padding-right: 6px;
}
.menu_leo {
  height: 40px;
  margin-top: 8px;
}
.menu_leo li { /* 原为>选择器 低版本ie不支持 */
  height: 28px;
  line-height: 20px;
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  text-align: left;
}
.user-panel-ul li { /* 登陆后的信息弹出层 有了下面一条 so暂时注释掉*/
/*   height: 24px;
line-height: 24px; */
}
.qtip ul li { /* qtip，此处杀伤力大，留个标记。。。 */
  height: 24px;
  line-height: 24px;
  margin: 5px;
  padding: 0 5px;
  overflow: hidden;
}
.userLogd img {
  margin-right: 5px;
}
.userLogd {
  font-size: 12px;
  line-height: 21.5px!important;
}
.menu_leo li a.first {
  border: 0;
}
.menu_leo li a {
  border-left: 1px dotted #ccc;
  height: 18px;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
  color:#666;
  font-size: 12px;
}
.i_sina {
  background-position: 0 -21px;
}
.i_QQ {
  background-position: -185px -21px;
}
.menu_leo .i_member {
  background: url("http://i.meilishuo.net/css/images/header/int_icon.png") no-repeat;
  width: 13px;
  height: 15px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  padding-top: 20px;
  *padding-top: 2px;
  font-style: normal;
}
.i_mob {
  background-position: -170px -45px;
}
.menu_leo li a.last {
  padding-right: 0;
}
/* /.top_info_bar */

.h_headerbottom{height: 70px;} /* logo等通高 */
#logo{
  width: 25%;
}
#search{
  width: 50%;
}
#info{
  width: 24%;
}
#search .form-control{
  height: 40px;
}
#global_search .btn {
  height: 40px;
  color: white;
  font-weight: bold;
  margin-left: -10px;
}
#global_search_input{
  border: 5px solid #f40;
}

/*  navbar */    
#navbar {
  position: relative;
  top: 0;
  height: 40px;
  line-height: 40px;
  left: 0px;
  width: 100%;
  z-index: 9; /* 小于插件的遮罩... */
  overflow: hidden;
}
.wheader {
  height: 40px;
  line-height: 40px;
  background-color: #FFB22E;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width:100%;
}
.wheader .header_b {
  height: 40px;
  max-width: 948px;
  *width: 948px;
  margin-left: auto;
  margin-right: auto;
}
.nav_new {
  *width: 948px;
  margin-left: auto;
  margin-right: auto;
}
.nav_new li {
  font-size: 14px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  float: left;
  white-space: nowrap;
}
.nav_new li a {
  color: #fff;
  float: left;
  padding-left: 14px;
  padding-right: 14px;
}
.nav_new li a:hover {
  color: #fff;
  background-color: #FF9205;
}
.nav_new li .r_d {
  background-color: #FF9205;
}
/* /.navbar */

/* footer */
.footer {
background-color: #f5f5f5;
border-top: 1px solid #ddd;
overflow: hidden;
padding: 15px 6px;
margin-left: auto;
margin-right: auto;
}
.footer .foot_con {
width: 1200px;
margin-left: auto;
margin-right: auto;
}
.footer .service_info {
padding-left: 0;
padding-top: 16px;
}
.footer .f_list {
float: left;
line-height: 26px;
padding: 10px 25px 20px 30px;
}
.footer .f_list .kefu .tel_ico {
background: url("http://i.meilishuo.net/css/images/header/mls_global140607.png") no-repeat 0 -111px;
height: 40px;
width: 36px;
float: left;
}
.footer .f_list .kefu p {
margin-left: 48px;
line-height: 20px;
}
.footer .f_list .kefu p {
margin-left: 48px;
line-height: 20px;
}
.footer .f_list .business {
line-height: 22px;
padding-left: 48px;
padding-top: 6px;
}
.footer .f_list h4 {
font-size: 16px;
line-height: 28px;
}
.footer .f_list ul {
float: left;
line-height: 26px;
padding-top: 6px;
}
.footer .f_list .sina_attention .attention {
display: none;
padding-left: 17px;
padding-top: 6px;
position: absolute;
top: -15px;
left: 70px;
background: url("http://i.meilishuo.net/css/images/header/attention_bg.png") no-repeat;
width: 125px;
height: 66px;
}
.footer .qr-code h4 {
text-align: center;
}
.footer .qr-code img {
width: 115px;
height: 115px;
margin-top: 13px;
}
.footer .weixin_code {
float: right;
padding-right: 0;
}
.footer .rolling {
border-top: 1px solid #e6e6e6;
height: 30px;
line-height: 30px;
padding: 5px 10px;
overflow: hidden;
}
.footer .rolling h4 {
font-size: 12px;
float: left;
font-weight: normal;
margin: -5px 0 0 0;
padding: 0;
}
.footer .rolling ul {
float: left;
height: 20px;
line-height: 20px;
overflow: hidden;
width: 800px;
}
.footer .rolling ul li {
float: left;
overflow: hidden;
width: 880px;
}
.footer .rolling ul li a {
white-space: nowrap;
float: left;
padding: 0 5px;
}
.footer .rolling .link_more {
float: right;
margin-top:-5px;
}
.footer .record {
border-top: 1px solid #e6e6e6;
line-height: 22px;
padding-top: 10px;
}
/* /.footer */

/* hack start */
*html,*html body /* 修正IE6振动bug */{background-image:url(about:blank);background-attachment:fixed;}
.ie6 html {overflow: hidden;}
.ie6 body{ overflow: scroll; }
.ie6 .wpct50{width:49%;}
.ie6 .container1200{text-align: justify;}
.ie6 #search .form-control,
.ie7 #search .form-control{
  padding:0 5px;
  height:30px;
  line-height: 30px\9; /* 20140818 fix 文字与表单竖直居中 */
}
.ie6 .btn{border:0;}
.ie7 #global_search .btn{border-top: 2px solid #f40; }
/* hack end */

/* media query start */ 
@media all and (min-width:1200px) { /* big screen */

}
@media all and (max-width:1234px) { /* middle large */
    .container100,
    #navbar {
      min-width: 1234px;
    }
}
@media all and (max-width:960px) { /* common */

}
@media all and (max-width:768px) { /* pad */
  #global_search{
    max-width:300px!important;
    margin-left: 25%;
  }
  #logo {width: 40%!important;}
}
@media all and (max-width:500px) { /* big phone */
  #logo {display: block!important;width:100%!important;}
  #global_search{
    display: block!important;
    margin: 0 auto!important;
    width:300px!important;
  }
}
@media all and (max-width:321px) { /* iphone */

}
/* media query end */

.fast_login_qq{
    width: 230px;
    height: 45px;
    background: url(http://s.imchuke.com/static/img/fast_login_qq.png);
    margin-top:10px
}
.fast_login_sina{
    width: 230px;
    height: 45px;
    background: url(http://s.imchuke.com/static/img/fast_login_sina.png);
}